body {
  background: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Flos40.com%2Flos40%2Fimagenes%2F2020%2F06%2F25%2Fvideojuegos%2F1593083478_869544_1593084233_gigante_normal.jpg&imgrefurl=https%3A%2F%2Flos40.com%2Flos40%2F2020%2F06%2F25%2Fvideojuegos%2F1593083478_869544.html&tbnid=VPIXPV-dCDUVZM&vet=12ahUKEwi20ovfg7r3AhUtNrkGHeMWB9EQMygUegUIARCBAg..i&docid=LPVtDzrvoj3YKM&w=1680&h=762&q=imagenes%20call%20of%20duty&ved=2ahUKEwi20ovfg7r3AhUtNrkGHeMWB9EQMygUegUIARCBAg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
