
/* From uiverse.io by @Clenio21 */
.card {
 width: 500px;
 height: 420px;
 --border-radius: 15px;
 --border-width: 4px;
 appearance: none;
 position: relative;
 padding: 1em 2em;
 border: 0;
 background:transparent;
 font-size: 18px;
 font-weight: 500;
 color: #fff;
 z-index: 2;
 border-radius: 15px;
 /* opacity: 90%; */
 
}



.card::after {
 --m-i: linear-gradient(#000, #000);
 --m-o: content-box, padding-box;
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 padding: var(--border-width);
 border-radius: var(--border-radius);
 background-image: conic-gradient(
		#2e79f1,
		#0cacf1,
		#9dae00,
		#ce7d03,
		#ec1870,
		#2918e1,
		#1366ea
	);
 -webkit-mask-image: var(--m-i), var(--m-i);
 mask-image: var(--m-i), var(--m-i);
 -webkit-mask-origin: var(--m-o);
 mask-origin: var(--m-o);
 -webkit-mask-clip: var(--m-o);
 mask-composite: exclude;
 -webkit-mask-composite: destination-out;
 filter: hue-rotate(0);
 animation: rotate-hue linear 500ms infinite;
 animation-play-state: paused;
}

.card:hover::after {
 animation-play-state: running;
}
/* 
/* @keyframes rotate-hue {
 to {
  filter: hue-rotate(1turn);
 }
} */ */

.card,
.card::after {
 box-sizing: border-box;
}

.card:active {
 --border-width: 5px;
}
.vgname{
	font-family: monospace;
	color:aliceblue;
	font-style: italic;
	text-decoration:unset
}