*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

/* .fondo-home {
  background: url("../fondoficial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-attachment:fixed;
  position: absolute;
} */
.fondo-home{
  background: url('../fondoficial.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100%;
  min-width: 1024px;
  
  width: 100%;
  height: auto;
  background-attachment:fixed;
  
  
  position: absolute;
  top: 10;
  left: 0;
  
  
  
}

.container {
  width: 90%;
  max-width: 100%;
  margin: auto;
  padding: 40px 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}






  .searchbar {
    border: solid transparent;
    border-radius: 3px;
    padding: 0.5em;
    background: rgb(24, 47, 75) 25%;
    color: white;
    margin-right: 0.5em;
    width: 20vw;
  }
  .loading{
    margin-top: 50%;
    height: 400px;
    width: 400px;
    animation-name: pacman;
    position: relative;
    animation-duration: 20s;
    animation-timing-function: ease;
    align-items: center;
  }
  .contenedor-filtro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5em;
    margin-bottom: 1em;
    cursor: pointer;
    font-family: monospace;
  }
  .Selector {
    padding: 5px;
    border: solid transparent 1px;
    border-radius: 5px;
    /* background: #053c5e; */
    color: white;
    cursor: pointer;
  }
  .paginado-1   {
    justify-content: center;
    align-items: center;
  }
  .paginated{
    text-align: center;
    margin: -50px;
}